<style>
	img{
		display: block;
		float: right;
		width: 150px;
		height: 150px;
	}
	#content{
		display: flex;
		margin: 0 auto;
	}
	@media(max-width: 500px){
	}
</style>

<div class="center-absolute">
	<div id="content">
		<div>
			<p>
				Diego is a computer science <b>student </b>at the Central University of Venezuela (UCV), 
				he’s currently at the 6th semester.
			</p>
			<p>
				He is also a <b>practical instructor</b> teaching Probability and Statistics in 
				the UCV.
			</p>
		</div>
		<img src="../../../assets/Images/UCVLogo.png" alt="UCV Logo">
	</div>

	<div class="center-block">
		<a 
			href="http://www.computacion.ciens.ucv.ve/pensum2k/docs/Plan%20de%20Estudios-aprobadoCU%20Revisado20-01-2005.pdf"
      target="_blank">
      <button  color="accent" mat-raised-button>See academic curriculum</button>
		</a>
	</div>
</div>

