<style>
  .page-content{
    text-align: center;
  }

@media(max-width: 800px){
  #tech-stack{
    width: 90%; 
  }
}
</style>
<main class="center-absolute page-content">
  <h1>Hi I'm Diego !</h1>
  <p>
    A computer science student from 🇻🇪, that likes to make webpages with the 
    latest technologies.
  </p>
  <p>Angular2, Reactjs, Svelte, Nodejs, PostgreSQL,...</p>
  <div class="center-block">
    <img id="tech-stack" alt="Tech stack" src="../../../assets/Images/TechStack.png">
  </div>
  <p>
    I like to develop the two ends of the web, the user interface “front end” and the 
    bussiness server logic “back end”.
  </p>
  <p>If you are interested to work me with me, you can</p>

  <div class="center-block">
    <button (click)="openDialog()" color="accent" mat-raised-button>Contact me</button>
  </div>

</main>