<style>
  .page-content{
    text-align: center;
  }
</style>
<main class="center-absolute page-content">
  <h1>Hi I'm Diego !</h1>
  <p>
    A computer science student from 🇻🇪, that likes to make webpages with the 
    latest technologies.
  </p>
  <div class="center-block">
    <img alt="Tech stack" src="../../../assets/Images/TechStack.png">
  </div>
  <p>
    Diego develops the two ends of the web, the user interface “front end” and the 
    bussiness server logic “back end”.
  </p>
  <p>If you are interested to work me with me, you can</p>

  <div class="center-block">
    <button (click)="openDialog()" mat-raised-button>Contact me</button>
  </div>

</main>