
<style>
  .drawer-container{
    height: 100vh;
  }

  .sidenav{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .sidenav img{
    max-width: 100%;
    height: 300px;
  }
  .sidenav-item{
    cursor: pointer;
  }
  .sidenav-icons{
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
  }

  @media(min-width: 1024px) {
    .app-fab--absolute {
      bottom: 1.5rem;
      right: 1.5rem;
    }
  }
  main{
    padding: 10px;
  }
</style>

<!-- Sidenav -->

<mat-drawer-container class="drawer-container">
  <mat-drawer position="start" #drawer [mode]="drawerMode" opened="true" class="sidenav" mode="side">
    <img src="../assets/Images/ProfilePic.jpg" alt="profile-pic">
    <p>Diego Sánchez</p>
    <p>Full Stack Web Developer</p>
    <mat-list>
      <mat-list-item routerLink="/about" matRipple class="sidenav-item">About</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/academics" matRipple class="sidenav-item">Academics</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/certifications" matRipple class="sidenav-item">Certifications</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/projects" matRipple class="sidenav-item">Projects</mat-list-item>
      <div class="sidenav-icons">
        <fa-icon [icon]="faEnvelope" 
        (click)="openDialog()" [size]="iconSize"></fa-icon>
        <a  [href]="icon.href" *ngFor="let icon of icons" [title]="icon.title" target="_blank">
          <fa-icon  [icon]="icon.icon" [size]="iconSize"></fa-icon>
        </a>
      </div>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <button mat-fab 
    class="app-fab--absolute"
    title="toggle sidenav" 
    type="button" mat-button 
    (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
    </button>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>





